body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #0D0714;
}

.todo-container {
    width: 432px;
}

.todo-container p{
    color: white;
}

.input-container button {
    background-color: #9E78CF;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 85%;
    padding: 5px;
    background: none;
    border: 1px solid #3E1671;
    border-radius: 5px;
    color: white;
}

input[type="text"]::placeholder{
    padding-left: 10px;
}

.tasks-container {
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15101C;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #9E78CF;
}

.task span {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.task-controls {
    display: flex;
    gap: 10px;
}

.task.completed .task-text {
    text-decoration: line-through;
    color: #888;
}

.task button {
    background-color: #15101C;
    background-image: url(./img/Trashunhover.svg);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.task button:hover {
    background-color: #15101C;
    background-image: url(./img/Trash.svg);
}

.task label{
    content: url(./img/Checkunhover.svg);
    cursor: pointer;
}

.task label:hover{
    content: url(./img/Check.svg);
}